/*hamburger styling*/
#hamburger {
	position: fixed;
	left: 1%; 
	top: 5%;
	cursor: pointer;
}

#hamburger span, #hamburger span:before, #hamburger span:after {
  border-radius: 2px;
  height: 6px;
  width: 40px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}

#hamburger span:before {
  top: -14px; 
}
#hamburger span:after {
  bottom: -14px;
}
*/

#hamburger span, #hamburger span:before, #hamburger span:after {
  transition: all 500ms ease-in-out;
}
#hamburger.active span {
  background-color: transparent;
}
#hamburger.active span:before, #hamburger.active span:after {
  top: 0;
}
#hamburger.active span:before {
  transform: rotate(45deg);
}
#hamburger.active span:after {
  transform: rotate(-45deg);
}

/*nav section*/


nav a{
	color: #000;
  	display: block;
  	padding: 10px 5px 15px 20px;
  	text-decoration: none;
}

nav a:hover {
	color: #ff6987;
	text-decoration: none;
}

nav ul {
	background-color: transparent;
	display: none;
	font-family: 'Futura', sans-serif;
	font-size: 1.2em;
   	list-style: none;
  	margin: -10px;
  	padding: 0;
  	text-align: left;
  	width: inherit;
}

nav ul {
	display: none;
}/*This hides the ul, which contains the lis "About" and "More Info"*/


nav ul.expand {
	display: block !important;
	position: fixed;
  	top: 15%;
  	left:2%;
 }

/*cover page section*/
#coverpage {
	background-color: #b8fb9e;
	height: 820px;
	text-align: center;
	width: 100%;
	}

#coverpage h1 {
	color: #000;
	font-family: 'Futura', sans-serif;
	font-size: 4em;
	padding-top: 180px;
}

#coverpage h3 {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 2em;
	line-height: 1.5;
	margin-top: 20px;
}

#coverpage p{
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#coverpage ul li a {
	color: #000;
}

#coverpage ul li img {
	margin-top: 120px;
}

#coverpage ul li #updown_copy {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 0.9em;
	margin-top: 20px;
}


/* All other pages! */
#numberOne {
	background-color: #cbfb9e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberOne h3 {
	background-color: #cbfb9e;
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 100px;
}

#numberOne p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#numberOne img {
	margin-top: 120px;
	visibility: hidden;

	}

#numberTwo {
	background-color: #d5fb9e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberTwo h3 {
	background-color: #d5fb9e;
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	margin-top: 60px;
}

#numberTwo p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#numberTwo img {
	margin-top: 100px;
	visibility: hidden;

}

#numberThree {
	background-color: #defb9e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberThree h3 {
	background-color: #defb9e;
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 400px;
}

#numberThree p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#numberFour {
	background-color: #ecfb9e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberFour h3 {
	background-color: #ecfb9e;
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 400px;
}

#numberFour p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#numberFour h3 p span {
	font-style: italic;
}

#numberFive {
	background-color: #fbf79e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberFive h3 {
	background-color: #fbf79e; 
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 400px;
}

#numberFive p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#numberSix {
	background-color: #fbee9e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberSix h3 {		
	background-color: #fbee9e; 
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 400px;
}

#numberSix p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#numberSeven {
	background-color: #fbe49e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberSeven h3 {
	background-color: #fbe49e;
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 360px;
}

#numberSeven p {		
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#numberEight {
	background-color: #fbd69e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#numberEight h3 {
	background-color: #fbd69e;
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 400px;
}

#numberEight p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

#more_info {
	background-color: #fbc49e; 
	height: 820px;
	text-align: center;
	width: 100%;
}

#more_info h3 {
	background-color: #fbc49e;
	font-family: 'Futura', sans-serif;
	font-size: 2.2em;
	line-height: 1.5;
	padding-top: 200px;
}

#more_info p {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 30px;
}

footer {
	background-color: #fbf79e;
	height: 70px;
	width: 100%;
}

footer ul li {
	color: #000;
	display: inline-block;
	font-family: 'Futura', sans-serif;
	font-size: 1.2em;
	list-style: none;
	padding: 25px 15px 0 30px;
}

footer ul li a {
	color: #000;
	text-decoration: none;
}


footer ul li a:hover {
	color: #ff6987;
	text-decoration: none;
}
#madeWithLove {
	padding-left: 650px;
}
