body {
	font-family: 'Lato', 'Helvetica', sans-serif;
	line-height: 25px;
	background: #FFFFFF;
	color:#444;
	margin: 0px;
	padding: 10px;
	max-width: 800px;
	border-left: 6px solid #DDDDDD;
}


h1 {
	color: red;
	font-size: 3em;
	text-decoration: none; /* no underline */
}


h2 {
	color: black;
	font-size: 2em;
}

h2 a {
	color: black;
	font-size: 2em;
	text-decoration: none;
}

h2 a:hover {
	color: red;
}

h3 {
	color: #e1e1e1;
	font-size: 2em;
}

h4 {
	color: red;
	text-align: right;
}

img {
	display: block;
	margin: 10px 0;
	max-width: 100%;

}

header h2 {
	font-size: 1.5em;
	margin-bottom: .5em;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	color: #DDD;
	font-size: 1.25em;
	margin-right: 0.75em; /* space between the links*/
	border-bottom: 2px solid #EEE;
}

header nav a:hover {
	color: black;
	border-bottom-color: #BBB; 
}

footer {
	color: red;
}

article {
	border-bottom: 1px solid #DDD;
	margin: 3em 0;
	padding-bottom: 1.5em;
}

article p:first-letter {
	float: left;
	font-size: 6em;
	line-height: 1;
	color: #DDD
	margin: -0.1em 1em -0.1em;
}

