.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
	margin: 0;
	width: 60em;
	padding: 3em;
	font-size: 18px;
	font-family: 'Lato', sans-serif; 
	color: #444;
	background: #FFF;
	line-height: 1.5;
	border-left: 6px solid #DDD;
}

main {
	float: left;
	width: 66.66667%;
}

#sidebar {
	color: #888;
	float: right;
	width: 29%;
	margin-top: 6em;
}

p.more {
	color: #BBB;
}

footer {
	clear: both;
	color: #BBB;
}

a {
	color: #D00;
	text-decoration: none;
}

a:hover; {
	color: #A00;
}

h1 h2 h3 h4 h5 h6 {
	margin: 0;
	padding: 0;
}

h1 { 
	font-size: 3em; 
	font-weight: normal;
	color: #D00;
}

h2 { 
	font-size: 2em;
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
	}

h2 a {
	color: inherit;
}

h2 a:hover {
	color: #D00;
}

h3 {
	font-size: 2em;
	font-weight: normal;
	color: #CCC;
	margin: 0;
	padding: 0;
}

h4 a{
	float: right;
	color: #D00;
}

p {
	margin: 1.5em 0 0;
	padding: 0;
}

img{
	display: block;
	margin: 10px 0;
	max-width: 100%;
}

header h1 {
		display: inline;
}

header h2 {
	display: inline;
	font-size: 1.5em;
	margin-bottom: .5em;
	color: #888;
	}

header nav ul{
	list-style: none;
	margin: 0;
	padding:0;
}

header nav ul li{
	float: left;
	/*EM: you can get the same effect by using display:inline; */
	width: 15%;
	margin: 0;
	padding: 0;
}

header nav a {
	display: block;
	font-size: 1.25em;
	color: white;
	background: black;
	margin-right: 1px;
	padding: 15px 0;
	text-align: center;
}

article {
	border-bottom: 1px solid #DDD;
	margin: 3em 0
	padding-bottom:1.5em; 
} /*you are missing a closing semi-colon on your margin */

article p:first-of-type:first-letter {
	float: left;
	font-size: 6em;
	line-height: 1;
	color: #DDD;

}

.copy1 {
	border-bottom: 1 px solid #DDD;
	/* EM: Should be "1px" */
	padding: 1.5em 0;
}